<section class="categories-show">

  <header class="page-header">

  <% if active_sale? %>
    <p class="alert alert-info">
      There's an active <%= @active_sale.name %> going on!
      <strong>Everything is <%= @active_sale.percent_off %>% off!</strong>
    </p>
  <% end %>

    <h1>
      <%= @category.name %>
      <small>(<%= pluralize @products.size, 'product' %>)</small>
    </h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>
